.footerSection{
    background-color:#f2f2f2;
    margin-top: 0pxx;
    padding-top:50px;
    color: rgb(95, 95, 95);
    padding-bottom: 50px;

}



.listContainer{
    margin-bottom: 0px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
}

.listContainer li a{
    text-decoration: none;
    color:   rgb(95, 95, 95);
}

.contactSection{
    margin:20px;
}

.contactTeam{
    font-size: 12px;
}

.contactTitle1{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
}

.contactTitle2{
    margin-bottom: 0px;
    font-size: 12px;
}

.mediaContainer{
    text-align: center;
}


i{
    font-variant: all-petite-caps;
}

.footerLogo{
    width:300px;
    margin-bottom: 30px;
}

.footer-btn{
    background-color: var(--dark-grey);
    color:black
}

.footer-section .footer-container .footer-sm {
    background-color: var(--dark-grey);
    color: var(--white);
}

.fa {
    /* padding: px; */
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 999;
  }