.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    max-height: 60%;
    background-color: #f5f5f5;
    overflow: auto;
    padding: 0px;

    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
    z-index: 999;
  }
  
.cartHeader{
  background-color: white;
  
}

  .cart h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--dark);
    padding-bottom: .5rem;
    margin: 1rem 0;
  }
  
 .close {
    position: absolute;
    top: .35rem;
    right: .5rem;
    cursor: pointer;
    color: var(--tertiary);
    font-size: 12px;

  }
  
.cartTitle{
  margin: 0px;
  font-size: 18px;
  text-align: center;
}

.cartData{
  width:200px;
  padding: 20px;
  font-variant: all-petite-caps;
}

  .cart .close:hover {
    color:rgb(167, 167, 167);
  }
  
  .CartEmpty {
    position: fixed;
    top: 2%;
    right: 99%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: .25rem;
    max-width: 50px;
    max-height: 50px;
    float: right;
  }

  .CartEmptyIcon{
    width: 35px;
    float: right;

  }
  
  .CartEmptyIcon:hover {
    transform: rotate(8deg);
  }
  
  .cart img {
    width: 70px;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 35px;
    padding: 0;
    margin: 0 .5rem 1rem .5rem;
    font-size: 15px;
    text-align: right;
    font-variant: all-petite-caps;
  }

  .cartLoginPrompt{
    font-size: 10px;
  }

  .checkoutBtn{
  border: none;
  align-items: center;
  width:250px;
  height: 35px;
  background-color: #212529;
  color: white;
  border-radius: 2px;
  font-weight: lighter;
}

  .checkoutBtn:hover{
    background-color:  rgb(95, 95, 95);
  }

  /* .qtyField{
    border: none;
    margin-left: 5px !important;
    width: 5px;
  } */

  
  @media screen and (max-width: 768px) {
    .cart {
      position: relative;
      max-width: 100%;
      max-height: auto;
      box-shadow: none;
      background-color: inherit;
    }
  
    .cart-closed {
      position: relative;
      margin: 0 auto;
    }
  }
