:root{
--darkblue: #003663;
--dark-grey: #212529;
}

.logo {
    height: 50px;
    margin-top:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.header{
    background-color: white;
    color: var(--darkblue);
    /* top: 50% */
    align-items: center !important;
    display: inline-flex !important;

}

.appLink{
    color: var(--dark-grey)

}