:root{
--darkblue: #003663;
--dark-grey: #212529;
}

.logo {
    height: 35px;
}

.header{
    background-color: white;
    color: var(--darkblue);
    text-decoration: none;
    padding:0px !important;
    


}

.headerIcons{
    position: absolute;
    right: 1%;
}

.headerTextLinks{
position:absolute;
}

.headerTextItem{
    font-size: 14px;
}

.LinkText{
    text-decoration: none;
}

.appLink{
    color: var(--dark-grey)

}

.loggedOutIcon{
    height: 35px;
}



.cartHeaderIcon{
    display:flex;
    justify-self: flex-start;
}