:root{
--darkblue: #003663;
--dark-grey: #212529;
}

.logo {
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* position:absolute; */
    
}

.header{
    background-color: white;
    color: var(--darkblue);


}

.headerIcons{
    position: absolute;
    right: 1%;
}

.appLink{
    color: var(--dark-grey)

}

.loggedOutIcon{
    height: 40px;
}

.navbar{
    /* position: fixed;
    float: right; */
}

.cartHeaderIcon{
    display:flex;
    justify-self: flex-start;
}