
.logoContainer{
    text-align-last: center;
}

.banner {
    margin: 10px;
    width: 100vw;
    max-width: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 800;
    margin-top: 0px;
    /* position:fixed; */
}

.bannerText{
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
    line-height: 80px;
    font-size: 80px;
    color:white;
    position: absolute;
    left:0%;
    max-width: 320px;
    margin-left: 15%;
    margin-top: -400px;
    text-align: left;
    z-index: 900;
}

.featureSection{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top:80px !important;
}

.featureTitle{
    font-size: 25px;
    margin:0px
}

.feature{
max-height: 300px;
width: 210px;
}



.CategorySection{
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top:80px !important;
}


.CategoryLink{
    background-color: white;
    border:none;
    margin-left:80PX !important;
    margin-right: 80px !important;
    /* font-weight: ; */
    font-size: 20px;
}

.MeasurementSection{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top:80px !important;
}

.measure{
    background-color: #154c79 ;
    height: 500px;
}


.measure1{
    padding: 0px !important;
}
.measure2{
    padding: 0px !important;
}



.measurePhoto{
    max-width: 500px;
    filter:grayscale(90)

}