.loginCard{
    width: 100vw;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.measureCard{
    width: 100vw;
    max-width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align-last: right;
    
}

.loginTitle{
    font-size: 20px;
    text-align: center;
    font-weight:300;
    margin-top: 50px;
}

.measureTitle{
    font-size: 16px;
    text-align: center;
    font-weight:300;
    margin-bottom: 0px;
    margin-top: 20px;
}

.measureTitleText{
    font-size: 16px;
    text-align: center;
    font-weight:300;
    margin-bottom: 0px;
    margin-right: 10px;
}

.fields{
    text-align: center;
    margin-top: 30px;
}

.measureFields{
    text-align: center;
    margin-top: 10px;
}

.topfield{
    margin-top: 10px;
}

.loginField{
    padding: 10px 0 10px 20px;
    font-size: 14px;
    width:250px;
    font-weight: lighter;
    border: 1px solid  rgb(167, 167, 167);
    border-radius: 2px;
}

.measureField{
    padding: 10px 0 10px 20px;
    font-size: 14px;
    width:100px;
    font-weight: lighter;
    border: 1px solid  rgb(167, 167, 167);
    border-radius: 2px;
    text-align-last: auto;
}


.loginButton{
    text-align: center;
    margin-top:25px;

}

.loginBtn{
    border: none;
    align-items: center;
    width:250px;
    height: 35px;
    background-color: #212529;
    color: white;
    border-radius: 2px;
    font-weight: lighter;
}

.loginBtn:hover {
    background-color: black;
}

.goToSignUp{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.goToLogin{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
    font-size: 12px;
    text-align: end;

}

.loginRedirect{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.signUpRedirect{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
    font-size: 12px;
    text-align: right;
}

.redirectSection{
    width:250px;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}